/* styles.css */

body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif; /* Utilizza un font più pulito e moderno */
  }
  
  .container {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  #largo,
  hr {
    width: 150%;
  }
  
  .card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al passaggio del mouse */
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-subtitle {
    color: #6c757d;
  }
  
  /* Aggiungi altri stili personalizzati se necessario */
  